.wrapperPortfolio{
  display: flex !important;
  justify-content: center !important;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navBarPortfolio{
  width: 35vw;
}

.wrapPortfolio{
  width: 70vw;
}


.buttonProjekte{
  border: 1px solid white;
  background: none;
  color: white;
  padding: .5vw 1vw;
  transition: all 1s;
}

.buttonProjekte:hover{
   border: 1px solid #909800;
}

.imgPortfolio{
   width: 20vw !important;
}
